extend layout
block titleContent
    | Web Chat
block headcontent
    link(rel='stylesheet', href='/css/index.css')
    script(type="text/javascript", src="/js/index.js")
 
block bodycontent
    div.container
        div.row
            div.offset2.span4.whatwediv
                h1 Web Chat
                p.lead Easiest way to chat 
                p.lead Chat on browser
                p.lead No need to install clients
                p.lead No need to install plugins
                p.lead Text, voice and video are supported
            div.span4.logindiv
                a.btn.btn-large.btn-success(href="javascript:;") Sign up with Google Account
                hr.speratorhr
                a.btn.btn-large.btn-success(href="javascript:;") Sign up with Sina Account
                hr.speratorhr
                div.demoContainer.form-inline
                    input#nickName.input-small(type="text", placeholder="Nick Name") 
                    a#startDemo.btn.demo-button(href="javascript:;") Go to Demo
                div#nickNameWarning.offset-top.alert.alert-warning.div-alert.hide
    