extends layout
block headcontent
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/socket-client.js")
    script(type="text/javascript", src="/javascripts/jsep2.js")

    div.container
        h1 WebChat
        p1 Web chat is a web browser based chat app.
        div.row
            div.span6
                video#selfView(autoplay, controls)
            div.span6
                video#remoteView(autoplay,controls)
        div.row
            div.span4
                div.row
                    div.span2
                        label Nick Name:
                        input#nickName.input-medium(type="text")    
                        label Room Name:
                        input#roomName.input-medium(type="text")
                    div.span2
                        br
                        br
                        br
                        input#joinButton.btn.btn-large.btn-primary(type="button", value="Join")
            div.span4
                label Online Users:
                ul#onlineUsersContainer.nav.nav-list
                    li
                        div TES1  
                            a#call.btn.btn-small(href="javascript:;")
                                i.icon-facetime-video
                           
                    li Test2
            dvi.span4
                label Status
                textarea#statusContainer.input-xlarge(rows="8", readonly="readonly")


